
<!--div class="col-lg-10 offset-lg-1">
  <検索フォーム>
  <form>
    <div class="input-group mb-3">
      <input class="form-control" placeholder="検索ワード" type="search" />
      <div class="input-group-append">
        <input type="submit" value="検索" class="btn btn-primary" />
      </div>
    </div>
  </form>
</div-->

  <!-- スポット一覧 -->
<section class="bg-white py-4 font-sans">
  <div class="container max-w-xl m-auto flex flex-wrap items-center justify-start">
    <% if @spots.present? %>
      <%= render @spots %>
    <% else %>
      <p>スポットがありません...</p>
    <% end %>
  </div>
</section>
