<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>様</h1>
    <p>パスワード再発行のご依頼を受け付けました。</p>
    <p>こちらのリンクからパスワードの再発行を行ってください。<br></p>
    <p><%= @url %></p>
  </body>
</html>
