<section class="bg-white py-8">
  <div class="container mx-auto flex items-center flex-wrap pt-4 pb-12">
    <nav id="store" class="w-full z-30 top-0 px-6 py-1">
      <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 px-2 py-3">
        <a class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl " href="#">
          POST
        </a>
        <div class="flex items-center" id="store-nav-content">
          <a class="pl-3 inline-block no-underline hover:text-black" href="#">
            <svg class="fill-current hover:text-black" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M7 11H17V13H7zM4 7H20V9H4zM10 15H14V17H10z" />
            </svg>
          </a>
          <a class="pl-3 inline-block no-underline hover:text-black" href="#">
              <svg class="fill-current hover:text-black" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M10,18c1.846,0,3.543-0.635,4.897-1.688l4.396,4.396l1.414-1.414l-4.396-4.396C17.365,13.543,18,11.846,18,10 c0-4.411-3.589-8-8-8s-8,3.589-8,8S5.589,18,10,18z M10,4c3.309,0,6,2.691,6,6s-2.691,6-6,6s-6-2.691-6-6S6.691,4,10,4z" />
              </svg>
          </a>
        </div>
      </div>
    </nav>
    <%= render partial: "posts/post", collection: @posts %>
  </div>
</section>

<section class="font-sans container max-w-xl m-auto flex flex-col lg:flex-row justify-center my-8">
  <div class="order-2 lg:order-1 w-full lg:w-1/4 flex flex-col items-center lg:items-end justify-center text-center lg:text-right ml-0 lg:ml-8 mt-8">
    <div class="w-12 h-12 rounded-full bg-gray-300 mb-2" alt="Avatar of Jonathan Reinink"></div>
    <h2 class="text-black mb-2 font-normal">ツーリングスポットを検索</h2>
    <p class="text-gray-700 leading-normal mb-8">現在地に近いツーリングスポットや、クリックした場所の近くのツーリングスポットを検索</p>
    <div class="w-12 h-12 rounded-full bg-gray-300 mb-2" alt="Avatar of Jonathan Reinink"></div>
    <h2 class="text-black mb-2 font-normal">ツーリングスポットの盛り上がりが分かる</h2>
    <p class="text-gray-700 leading-normal mb-8">マップのピンの色によって各ツーリングスポットの盛り上がりが見える</p>
    <div class="w-12 h-12 rounded-full bg-gray-300 mb-2" alt="Avatar of Jonathan Reinink"></div>
    <h2 class="text-black mb-2 font-normal">今から行くツーリングスポットを共有</h2>
    <p class="text-gray-700 leading-normal">ツーリング場所を共有できる。Twitter・LINE共有も簡単に</p>
    </div>
  <div class="order-1 lg:order-2 w-full lg:w-1/2 max-w-sm m-auto mb-6 lg:mb-0">
    <img src="https://stitches.hyperyolo.com/images/demo-phone.png" alt="">
  </div>
  <div class="order-last w-full lg:w-1/4 flex flex-col items-center lg:items-start justify-center text-center lg:text-left mt-8 mr-8">
    <div class="w-12 h-12 rounded-full bg-gray-300 mb-2" alt="Avatar of Jonathan Reinink"></div>
    <h2 class="text-black mb-2 font-normal">自分のお気に入りのツーリングスポットを登録</h2>
    <p class="text-gray-700 leading-normal mb-8">自分しか知らないツーリングスポットを簡単に共有</p>
    <div class="w-12 h-12 rounded-full bg-gray-300 mb-2" alt="Avatar of Jonathan Reinink"></div>
    <h2 class="text-black mb-2 font-normal">今まで出会ったことのないバイカーとの出会い</h2>
    <p class="text-gray-700 leading-normal mb-8">他の人の投稿にクリックするだけで一緒にツーリングに行きたいと伝えられる</p>
    <div class="w-12 h-12 rounded-full bg-gray-300 mb-2" alt="Avatar of Jonathan Reinink"></div>
    <h2 class="text-black mb-2 font-normal">思う存分Yaen!する</h2>
    <p class="text-gray-700 leading-normal">すれ違ったバイカーとのYaeh！を楽しむ</p>
    </div>
</section>
