<footer class="font-sans bg-white py-8 px-4">
  <div class="mx-auto container overflow-hidden flex flex-col md:flex-row justify-between pb-4 text-center md:text-left">
    <!--a href="#" class="block mr-4 w-full md:w-1/4">
      <img src="https://stitches.hyperyolo.com/images/logo.png" class="w-32 -ml-8 md:ml-0" alt="logo">
    </a -->
    <div class="w-full text-gray-900 mt-6 md:mt-0 leading-normal">
      <h4 class="py-2 uppercase font-bold tracking-wide">About Yaeh!</h4>
      <p>誰かとツーリングしたい。</p>
      <p>同じ熱き志のバイカーが集う場所を知りたい。</p>
      <p>いつもと違うツーリングスポットに行きたい。</p>
      <p>たくさんの人とYaeh!をしよう。</p>
    </div>
  </div>
  <div class="pt-4 mt-4 text-gray-700 text-xs border-t border-gray-300">
  <ul class="text-sm list-none p-0 flex flex-row-reverse inline-block no-underline hover:text-black">
    <li>
      <%= link_to 'Privacy Policy', privacy_policy_path, class: "inline-block py-2 px-3 text-gray-800 hover:text-black no-underline" %>
    </li>
    <li>
      <%= link_to 'Terms', terms_path, class: "inline-block py-2 px-3 text-gray-800 hover:text-black no-underline" %>
    </li>
    <li>
      <%= link_to 'Contact Us', terms_path, class: "inline-block py-2 px-3 text-gray-800 hover:text-black no-underline" %>
    </li>
  </ul>
  </div>
</footer>
