/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#map {
  height: 600px;
  width: 700px;
  margin: auto;
  margin-bottom: 20px;
}

.top-wrapper {
  background-image: image-url("top.jpg");
  height: calc(100vh - 134px);
  position: relative;
  background-position: center;

  .top-inner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: white;

    @media screen and (max-width: 767px) {
      font-size: 2.0rem;
    }
  }
}

  #pac-input{
    width: 200px;
    height: 30px;
    margin-left: 20px;
  }

  .button{
    text-align: center;
  }

  .copyright{
    text-align: center;
  }

  #data-start-point-name{
    margin-top: 20px;
  }

  #data-destination-name{
    margin-top: 20px;
  }

  #getRoute{
    margin-top: 20px;
  }

  #touring-button{
    padding-top: 40px;
  }
